


body {
	background: url("images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

li {
	list-style-type: none;
}

nav {
	text-align: center;
	background-color: white;
	height: 6.5em;
	position: absolute;
	border: none;
	width: 100%;
}

#logo {
	float: left;
	margin-left: 5.4em;
	border: none;
	margin-top: 1.6em;
	margin-right: 1.5em;
}

#logo img {
	height: 3.5em;
	font-size: .87em;
}

nav ul li{
	float: left;
	font-size: 0.9em;
	margin-right: 2.15em;
	margin-top: 1.95em;
}

#login-button {
	float: right;
	margin-top: 1.3em;
	margin-right: 6.8em;
	font-size: 0.9em;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	padding: 8px 10px;
}

nav ul li:hover {
	color: red;
}

.main {
	height: 18em;
	width: 27.7em;
	background: white;
	float: left;
	padding: 0;
}

.center {
	clear: both;
	height: 40em;
	padding-top: 16.7em;
	padding-left: 7.5em;
}

#countertop {
	margin-left: 2em;
	margin-top: .3em;
}

#counter {
	float: left;
	margin-top: 0;
}

#timer {
	color: #e41a24;
	font-size: 2.5em;
	font-weight: lighter;
	padding-bottom: 0;
	margin-bottom: 0;
}

#read {
	font-size: 1.5em;
	margin-top: 0;
	padding-top: 0;
}

#stop-button {
	float: right;
	background-color: #f2f2f2;
}

hr {
	background-color: #f2f2f2;
	clear: both;
	width: 100%;
}

aside {
	float: left;
}

footer {
	background-color: white;
	height: 10em;
	clear: both;
	position: relative;
	margin-bottom: 0;
}

footer li {
	float: left;
}

#footerbar {
	margin-left: auto;
	margin-right: auto;
}

#footerbarright {
	float: left;
}

