
body {
	background: url("images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	width: ;
}

li {
	list-style-type: none;
}

nav {
	text-align: center;
	background-color: white;
	height: 6.5em;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border: none;
	width: 100%;

}

#logo {
	float: left;
	margin-left: 6em;
	border: none;
	margin-top: 1.8em;
	margin-right: 1.8em;
}

#logo img {
	height: 3.5em;
}

nav ul li{
	float: left;
	font-family: proxima-nova, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	margin-right: 2.15em;
	margin-top: 1.95em;
}


nav ul li:hover {
	color: red;
}

nav div {
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-style: thin;
	border-radius: 5px;
	border-color: #e0e0e0;
}

.main {
	height: 300px;
	width: 400px;
	background: white;
	float: left;
	margin-bottom: 30px;
}

.center {
	clear: both;
	margin-top: 240px;
	margin-left: 100px;
}

aside {
	float: left;
}

footer {
	background-color: white;
	height: 100px;
	clear: both;
	margin-top: 30px;
}

footer li {
	float: left;
}

