
body {
	background: url("images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

li {
	list-style-type: none;
}

nav {
	position: relative;
	background-color: white;
	height: 100px;
	margin-top: -20px;
	margin-left: -20px;
	padding-right: 100px;
	margin-right: -30px;
	padding: 0px;
}

nav ul li{
	float: left;
	padding-top: 45px;
	font-family: Arial;
	font-size: 14px;
	margin-right: 40px;
}

nav ul li img{
	margin-top: -17px;
}

nav ul li:hover {
	color: red;
}

nav div {
	float: right;
	margin-right: 130px;
	margin-top: 38px;
	font-family: Arial;
	font-size: 14px;
	font-style: thin;
	border-radius: 5px;
	border: 1px;
	border-style: solid;
	padding: 8px 7px 9px 7px;
	border-color: #e0e0e0;
}

.main {
	height: 300px;
	width: 400px;
	background: white;
	float: left;
}

.center {
	clear: both;
	margin-top: 140px;
	margin-left: 100px;
}

aside {
	float: left;
}

footer {
	position: relative;
	background-color: white;
	height: 100px;
	clear: both;
}

